.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .5);
  z-index: 9999;
}

.modal-text {
  position: absolute;
  width: calc(100vw / 3);
  height: calc(100vh / 10);
  text-align: center;
  color: #fff;
  font-size: 2rem;
  top: calc(calc(100vh / 10) * 2);
  left: calc(100vw / 3);  
}
